
body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 20px 20px 60px #80808033;
    margin-left: 27px;
    padding: 10px
}
.language{

    span{
        display: flex;
    align-items: center;
    gap:5px;
    }
}
div ul{
    display: flex;
    gap: 30px;
    
   
    li{
        list-style-type: none;
    }
    li a {
        text-decoration: none;
        color: black;
    }
    }

    .hosting{
        display: flex;
        gap: 10px;

        a{
            display: flex;
            gap:5px;
            align-items: center;
        }

        img{
            width: 10px;
            height: 10px;
        }
    }
    


.nav-bar{
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo{
    display: flex;
    gap: 30px;
    align-items: center;
}

 nav{
    display: flex;
    gap: 30px;
}


.flag{
    width: 20px;
}
button{
    display: inline-block;
    height: 32px;
    background-color: white;
    border-style: solid 2px;
    cursor: pointer;
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.first-board{
    button{
        background-color:rgba(71, 12, 126, 0.903);
        color: white ;
        border: none;
        width: 350px;
        border-radius: 10px;
        cursor: pointer;
        margin-left: 138px;
    

    }
}
.second-board{
    padding: 20px;
    
    img{
        width: 700px;  
    }
}
.first-title{
    font-weight: bold;
    color: rgba(71, 12, 126, 0.903);
    font-size: 30px;
    width: 350px;
    display: flex;
font-family: 'Titillium Web', sans-serif;
    padding: 50px;
    margin-left: 90px;
    margin-top: 10px;
}



.second-title{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(71, 12, 126, 0.903);
    width: 390px;
    font-size: 15px;
    display: flex;
    margin-left: 90px;
    padding-left: 50px;
    margin-bottom: 15px;

}

.third-title{
    color: rgba(71, 12, 126, 0.903);
    font-size: xxx-large;
    font-weight: bold;
    display: flex;
    margin-left: 90px;
    padding-left: 50px;
    margin-bottom: 15px;

    
    span{
        font-size: large;
        font-weight: lighter;
        display: flex;
    align-items: end;
    }
}
.fourth-title{
    font-weight: bold;
    color: rgba(71, 12, 126, 0.903);
    display: flex;
    margin-left: 90px;
    padding-left: 50px;
    margin-bottom: 15px;
}
.seventh-title{
    color: rgba(71, 12, 126, 0.903);
    display: flex;
    margin-left: 90px;
    padding-left: 50px;
    margin-top: 15px;
    img{height: 20px;
    }
}

.countdown ul li{
    border: 1px solid #2f1c6a;
    padding: 20px;
    display: flex;
    margin-left: -27px;

}
.countdown ul{
    margin-left: 127px;
}
.second-content-pic{
    display: flex;
    padding: 90px;
    margin-left: 99px;
    overflow: hidden;
    margin-top: 60px;
}
.another-title{
    font-weight: bold;
    color: rgba(71, 12, 126, 0.903);
    font-size: 20px;
    display: flex;
font-family: 'Titillium Web', sans-serif;
justify-content: center;
}
.another-title2{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(71, 12, 126, 0.903);
    font-size: 10px;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.titles{
    display: block;
    
}

.table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border: solid 2px #d3d3d385;
    padding: 35px;
    margin-top: 45px;
    margin-left: 200px;
    margin-right: 200px;
}


.table1{

    display: grid;
    gap:10px;

   span{ font-weight: bold;}
   div{color: rgba(71, 12, 126, 0.903);}
   img{width: 13px;
   margin-right: 5px;
}
 
   
}
.table2{
    border-right: solid 2px rgba(211, 211, 211, 0.5215686275);
    margin-right: 40px;
    margin-left: 32px;
    border-left: 2px solid #d3d3d385;
    display: grid;
    padding: 26px;

    div{
        display: flex;
    justify-content: center;
    
    }

    div s{
        font-size: 12px;
    color: black;
    margin-right: 16px;
    }

    div span{
        border: solid 2px #bfaae294;
    background-color: #bfaae257;
    border-style: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    }

    button{
        background-color:rgba(71, 12, 126, 0.903);
        color: white ;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 20px;
        margin-top: 20px;

    }
    .third-title1{    
         margin-top: 10px;
        color: rgba(71, 12, 126, 0.903);
        font-size: 37px;
        font-weight: bold;
        display: flex;
        margin-bottom: 10px;
        margin-left: 31px;

    }
    .third-title-span{font-size: large;
        font-weight: lighter;
        display: flex;
        align-items: end;}
    span{ font-weight: bold;}
    div{color: rgba(71, 12, 126, 0.903);}

    .promotion{
        font-size: 9px;
        display: flex;
        justify-content: center;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .promotion2{
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 8px;
    }
    .promotion3{
        font-size: 10px;  
    font-family: 'Roboto Condensed', sans-serif;

    }
}



.table3{
    display: grid;
    gap: 12px;
    span{ font-weight: bold;}
   div{color: rgba(71, 12, 126, 0.903);}
   img{width: 13px;
    margin-right: 5px;}
}
.question-mark1{
    width: 15px;
   
    
}
.question-mark2{
    width: 15px;
   
    
}
.question-mark3{
    width: 15px;
   
}
.question-mark4{
    width: 15px;
    
}
.question-mark5{
    width: 15px;
    
}
.question-mark6{
    width: 15px;
    
}
.one{
    font-weight: bold;
    font-family: "Titillium Web", sans-serif;
    margin-top: -20px;
    margin-bottom: 25px;
    width: 182px;
    display: flex;
}

.payment-conditions{
    display: flex;
    justify-content: center;
    color: rgba(71, 12, 126, 0.903);
    font-weight: bold;
    padding: 20px;

    a{
        text-decoration: none;
    }
}
.text25{
    color: rgba(71, 12, 126, 0.903);
    font-weight: bold;
    font-family: "Titillium Web", sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 30px;
}

.text26{
    color: rgba(71, 12, 126, 0.903);
    font-family: 'Roboto Condensed', sans-serif;
  margin-left: 143px;
    width: 76%;
}

.navbar2{
    margin-top: 70px;
}

.bar2{
    display: flex;
    justify-content: center;
    gap:30px;
    padding: 10px;
    

}
.bar2 div a{
    text-decoration: none;
}

hr{
    width: 35%;
    border-style: groove;
    border-color: #a7a6a64d;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 40px;
  

    .horizontal-pic{
        width: 450px;
       
      
    }
    .vertical-pic{
        object-fit: cover;
        height: 286px;
    }

    }

