body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  box-shadow: 20px 20px 60px rgba(128, 128, 128, 0.2);
  position: fixed;
  width: 100%;
  background-color: white;
  justify-content: space-between;
}

main {
  padding: 100px;
}

.language span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: bold;
}

div ul {
  display: flex;
  gap: 30px;
}
div ul li {
  list-style-type: none;
}
div ul li a {
  text-decoration: none;
  color: black;
}

.hosting {
  display: flex;
  gap: 10px;
}
.hosting a {
  display: flex;
  gap: 5px;
  align-items: center;
}
.hosting img {
  width: 10px;
  height: 10px;
}

.nav-bar {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 20px;
}
.nav-bar ul li a:hover {
  color: rgba(122, 121, 124, 0.779);
}

.logo {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 20px;
}

nav {
  display: flex;
  gap: 30px;
}

.flag {
  height: 16px;
  width: 21px;
}

button {
  display: inline-block;
  height: 32px;
  background-color: white;
  border-style: solid 2px;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-board button {
  background-color: rgb(103, 61, 230);
  color: white;
  border: none;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 138px;
}

.second-board {
  padding: 20px;
}
.second-board img {
  width: 700px;
}

.first-title {
  font-weight: bold;
  color: rgb(47, 28, 106);
  font-size: 30px;
  width: 350px;
  display: flex;
  font-family: "Titillium Web", sans-serif;
  padding: 50px;
  margin-left: 90px;
  margin-top: 10px;
  line-height: normal;
}

.second-title {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(105, 91, 147);
  width: 390px;
  font-size: 15px;
  display: flex;
  margin-left: 90px;
  padding-left: 50px;
  margin-bottom: 15px;
}

.third-title {
  color: rgb(47, 28, 106);
  font-size: xxx-large;
  font-weight: bold;
  display: flex;
  margin-left: 90px;
  padding-left: 50px;
  margin-bottom: 15px;
}
.third-title span {
  font-size: large;
  font-weight: lighter;
  display: flex;
  align-items: end;
}

.fourth-title {
  font-weight: bold;
  color: rgb(47, 28, 106);
  display: flex;
  margin-left: 90px;
  padding-left: 50px;
  margin-bottom: 15px;
}

.seventh-title {
  color: rgb(109, 96, 150);
  display: flex;
  margin-left: 90px;
  padding-left: 50px;
  margin-top: 15px;
}
.seventh-title img {
  height: 20px;
}

.countdown {
  margin-left: 130px;
}

.second-content-pic {
  display: flex;
  padding: 90px;
  margin-left: 99px;
  overflow: hidden;
  margin-top: 60px;
}

.another-title {
  font-weight: bold;
  color: rgb(47, 28, 106);
  font-size: 31px;
  display: flex;
  font-family: "Titillium Web", sans-serif;
  justify-content: center;
}

.another-title2 {
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(71, 12, 126, 0.903);
  font-size: 14px;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.titles {
  display: block;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border: solid 2px rgba(211, 211, 211, 0.5215686275);
  padding: 35px;
  margin-top: 45px;
  margin-left: 200px;
  margin-right: 200px;
}

.table1 {
  display: grid;
  gap: 10px;
}
.table1 span {
  font-weight: bold;
  color: rgb(85, 70, 133);
}
.table1 div {
  color: rgb(85, 70, 133);
}
.table1 img {
  width: 13px;
  margin-right: 5px;
}

.table2 {
  border-right: solid 2px rgba(211, 211, 211, 0.5215686275);
  margin-right: 40px;
  margin-left: 32px;
  border-left: 2px solid rgba(211, 211, 211, 0.5215686275);
  display: grid;
  padding: 26px;
}
.table2 div {
  display: flex;
  justify-content: center;
}
.table2 div s {
  font-size: 12px;
  color: black;
  margin-right: 16px;
}
.table2 div span {
  border: solid 2px rgba(191, 170, 226, 0.5803921569);
  background-color: rgba(191, 170, 226, 0.3411764706);
  border-style: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
}
.table2 button {
  background-color: rgb(103, 61, 230);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}
.table2 .third-title1 {
  margin-top: 10px;
  color: rgb(47, 28, 106);
  font-size: 37px;
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
  margin-left: 31px;
}
.table2 .third-title-span {
  font-size: large;
  font-weight: lighter;
  display: flex;
  align-items: end;
}
.table2 span {
  font-weight: bold;
}
.table2 div {
  color: rgb(47, 28, 106);
}
.table2 .promotion {
  font-size: 9px;
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}
.table2 .promotion2 {
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 8px;
}
.table2 .promotion3 {
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

.table3 {
  display: grid;
  gap: 12px;
}
.table3 span {
  font-weight: bold;
  color: rgb(85, 70, 133);
}
.table3 div {
  color: rgb(85, 70, 133);
}
.table3 img {
  width: 13px;
  margin-right: 5px;
}

.question-mark2 {
  width: 15px;
  margin-left: 70px;
}

.question-mark3 {
  width: 15px;
  margin-left: 70px;
}

.question-mark4 {
  width: 15px;
  margin-left: 60px;
}

.question-mark5 {
  width: 15px;
  margin-left: 65px;
}

.question-mark6 {
  width: 15px;
  margin-left: 50px;
}

.one {
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  margin-top: -20px;
  margin-bottom: 25px;
  width: 182px;
  display: flex;
}

.payment-conditions {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 20px;
}
.payment-conditions a {
  text-decoration: none;
  color: rgb(103, 61, 230);
}

.text25 {
  color: rgb(47, 28, 106);
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 30px;
  margin-top: 30px;
}

.text26 {
  color: rgba(71, 12, 126, 0.903);
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 143px;
  width: 76%;
  display: flex;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
  margin-bottom: -80px;
}

.navbar2 {
  margin-top: 70px;
}

.bar2 {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
}

.bar2 div a {
  text-decoration: none;
  color: rgba(99, 96, 96, 0.685);
  font-weight: bold;
  border-bottom: 1px solid #dadce0;
  color: #727586;
  padding: 16px 10px 15px;
}

.bar2 div a:hover {
  color: rgb(109, 69, 231);
  border-bottom: 1px solid rgb(109, 69, 231);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10PX;
  margin-bottom: 50px;
  margin-top: 40px;
  margin-left: 65px;
}
.footer .horizontal-pic {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .vertical-pic {
  -o-object-fit: cover;
     object-fit: cover;
  height: 254px;
  object-fit: cover;
}

.last-pic {
  margin-right: 152px;
}/*# sourceMappingURL=styles.css.map */